@use "@/styles/variables" as *;
.news {
  width: 100%;
  max-width: 100vw;

  &__title {
    padding: 60px 0 40px 40px;
    text-transform: uppercase;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px 20px;
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: $fs-24;
  }

  &__container {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-width: 0;

    &:hover {
      .news__container__title {
        background: $gradient;
        background-clip: text;
        color: transparent;
      }

      img {
        border-radius: 20px;
      }
    }


    &__title {
      padding-top: 20px;
      margin: 0;
      font-size: $fs-24;
      word-wrap: break-word;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: fill;
      border-radius: 0;
      transition: border-radius 0.3s ease;
    }
  }

  &__description {
    padding-top: 10px;
    opacity: 0.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $fs-main;
    font-weight: $fw-regular;
    word-wrap: break-word;
    hyphens: auto;
  }

  &__date {
    padding-top: 20px;
    font-size: $fs-main;
  }
}

@media (max-width: 1000px) {
  .news {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      gap: 35px 20px;
    }

    &__container {
      img {
        height: 260px;
      }
    }
  }
}

@media (max-width: 768px) {
  .news {
    &__title {
      padding: 40px 0 30px 20px;
    }

    &__content {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 15px;
      padding: 0 20px;
    }

    &__container {
      img {
        height: 220px;
      }

      &__title {
        font-size: $fs-20;
        padding-top: 15px;
      }
    }

    &__description {
      -webkit-line-clamp: 2;
      font-size: 14px;
    }

    &__date {
      font-size: 14px;
      padding-top: 15px;
    }
  }
}

@media (max-width: 320px) {
  .news {
    &__title {
      padding: 20px 10px 15px;
      font-size: $fs-24;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 48px;
      padding: 0;
    }

    &__list {
      padding: 0 20px 0 10px;
    }

    &__container {
      img {
        height: 218px;
      }

      &__title {
        font-size: $fs-20;
      }

      &__description {
        font-size: $fs-main;
      }

      &__date {
        font-size: $fs-main;
      }
    }
  }
}