@use "@styles/variables" as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 248px;
  background: $gradient;
  z-index: 2;
  padding-inline: 40px;


  .logo {
    width: 103px;
    height: 120px;
    filter: brightness(0) invert(1);
  }

  &__content {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
  }

  &__container {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .footer {
    height: auto;
    min-height: 200px;
    padding-inline: 20px;

    &__content {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 30px 0;
    }

    &__container {
      text-align: center;
      margin: 0;

      h2 {
        font-size: $fs-20;
        max-width: 280px;
        margin: 0 auto;
      }
    }

    .logo {
      width: 100px;
      height: 117px;
    }
  }
}


@media (max-width: 320px) {
  .footer {
    height: 431px;
    position: static;

    &__content {
      gap: 30px;
    }
  }
}